@charset "UTF-8";

/*COMMON*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-image: url("../image/1.jpg");
}

.layout {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  text-align: center;
  border-radius: 20px;

  transform: translate(-50%, -50%);
}

/* weather */

.weather {
  margin: 15px 10px;
  font-size: 1.2rem;
  float: right;
  font-weight: 700;
}

/* HEADER */
.title {
  color: #fff;
  font-size: 4em;
  margin: 1rem 3rem;
}

/* today */
.today .date {
  font-size: 2em;
  margin: 0.5rem;
}

.today .time {
  font-size: 1.6em;
}

/* To-do-Lists */
.todo {
  margin-top: 2rem;
}

.todo .todo__title {
  font-size: 2em;
}

.todo .todo__items {
  font-size: 1.2em;
}

.todo .todo__items .todo__item {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 1rem 0 0.2rem 0;
}

.todo .todo__items .partition {
  width: 90%;
  height: 1px;
  margin: auto;
  background: #fff;
}

.todo .todo__items .todo__item i {
  width: 20px;
  height: 20px;
  transition: transform 300ms;
}

.todo .todo__items .todo__item i:hover {
  color: #ff0000;
  transform: scale(1.2);
}

/* to-do-Input */
.input-wrap {
  margin-top: 1.5rem;
  display: flex;
}

.input-wrap input {
  flex: 1 1 0;
  height: 1.5rem;
  background: transparent;
  border: none;
  outline: none;
  padding: 2px 16px;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.input-wrap i {
  background: white;
  color: black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  cursor: pointer;
}
input::-webkit-input-placeholder {
  color: #ddd;
}

input::-ms-input-placeholder {
  color: #ddd;
}

input::-moz-input-placeholder {
  color: #ddd;
}
